.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 70vh;
}
.hero::before {
  content: "";
  background-image: url("../../assets/images/hero.jpg");
  background-size: cover;
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.5;
  position: absolute;
  height: 100%;
}
.heroContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroTitle {
  background-color: #f4f8fa;
  padding: 1rem 2rem;
  text-transform: capitalize;
  border-radius: .5rem;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
