.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  margin: 1rem 0;
}
.lineTitle {
  height: 0.09px;
  background-color: #c1c1c1;
  width: 20%;
}
.headingTitle {
  color: #3a3a3a;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .title {
    margin:0;
    padding: 1rem;
  }
  .lineTitle {
    width: 15%;
  }
  .headingTitle {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
