.sayingCard {
  padding: 3rem;
  text-align: center;
  min-height: 27rem;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(136, 136, 136, 0.15) 0px 5px 43px 3px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1052%26quot%3b)' fill='none'%3e%3cpath d='M720 546.46C789.94 541.47 854.24 513.35 905.37 465.37 958.41 415.59 1005.38 352.73 1003.95 280 1002.55 208.21 949.15 152.38 898.27 101.73 847.53 51.24 791.28 4.08 720-2.61 642.21-9.89 559.09 8.63 504.88 64.88 451.36 120.43 447.44 202.87 447.66 280 447.88 356.82 451.25 440.12 506.16 493.84 560.72 547.21 643.88 551.9 720 546.46' fill='rgba(243%2c 230%2c 230%2c 1)'%3e%3c/path%3e%3cpath d='M720 401.12C751.79 398.85 781.02 386.07 804.26 364.26 828.37 341.63 849.72 313.06 849.07 280 848.43 247.37 824.16 221.99 801.03 198.97 777.97 176.02 752.4 154.58 720 151.54 684.64 148.23 646.86 156.65 622.22 182.22 597.89 207.47 596.11 244.94 596.21 280 596.31 314.92 597.84 352.78 622.8 377.2 647.6 401.46 685.4 403.59 720 401.12' fill='rgba(243%2c 230%2c 230%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1052'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
.sayingCard > p {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 2rem;
}
.sayingCard > h6 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.2rem 0;
}
.sayingCard > img {
  width: 147px;
  height: 147px;
  border-radius: 50%;
}
