.pmtNavbar {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 111;
  background-color: #fff;
}
.logoWrapper {
  flex-grow: 12;
}
.pmtLogo {
  width: 6rem;
}
.signinLink {
  padding: 0.5rem 1em;
  color: #fff;
  border: 1px solid #c12629;
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, #c12629 50%, #fff 50%) right;
  background-size: 250%;
  transition: 0.5s ease-out;
}
.signinLink:hover {
  background-position: left;
  color: #c12629;
}
.navbarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.navbarLinks {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
}
.link {
  padding: 1rem;
}
.active {
  color: #c12629;
}
.accountInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: 600;
}
.menuIcon,
.socialMediaWrapper {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
/* To animate the bars */
.animated .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.animated .bar2 {
  opacity: 0;
}
.animated .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media screen and (max-width: 767px) {
  .pmtNavbar {
    padding: 0.1rem 1rem;
  }
  .menuIcon,
  .socialMediaWrapper {
    display: block;
  }
  .navbarContent {
    height: 0;
    width: 100%;
    top: 68px;
    left: 0;
    z-index: 111;
    position: fixed;
    /* margin-top: 70px; */
    transition: height 0.4s ease-in-out;
    overflow: hidden; /* overflow hidden to hide the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    z-index: 111;
  }
  .toggled {
    height: 100vh;
    transition: height 0.4s ease-in-out;
  }
  .accountInfo {
    order: -1;
    width: inherit;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }
  .navbarLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 5rem;
  }
  .socialMediaIcons {
    display: flex;
    justify-content: center;
  }
}
